#asistente{
	background:#ffffff;
	position:absolute;
	left:10%;
	top:30%;
	width:30%;
	height:55%;
}
#mapa{
	background:#ffffff;
	position:absolute;
	left:50%;
	top:30%;
	width:40%;
	height:55%;
}

#nuser{
	position:absolute;
	left:40%;
	top:65%;
	width:10%;
	height:1%;
}

#user{
	position:absolute;
	left:40%;
	top:68%;
	width:13%;
	height:5%;
}

#npassword{
	position:absolute;
	left:40%;
	top:75%;
	width:10%;
	height:1%;
}
#password{
	position:absolute;
	left:40%;
	top:78%;
	width:13%;
	height:5%;
}

#botonInicio{
	position:absolute;
	left:45%;
	top:87%;
}
 